server:
  port: 8080

spring:
  application:
    name: journal-backend
  
  datasource:
    url: jdbc:mysql://localhost:3306/zhixing_journal?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

logging:
  level:
    com.zhixing.journal: DEBUG
    org.springframework.web: INFO
